@model WorldCup.Common.Entities.ApplicationUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>User Predictions</title>
</head>
<body>
    <table>
        <tr>
            <td><img src="@(Server.MapPath("~/Content/images") + "\\" + ViewBag.LogoSource)" height="100" /></td>
            <td>&nbsp;&nbsp;</td>
            <td>
                <h1>@ViewBag.ApplicationName</h1>
                <p style="color: #333;">Predictions overview: @Model.FullName</p>
            </td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th>Yellow cards</th>
            <th>Red cards</th>
        </tr>
        @foreach (var item in Model.MatchPredictions)
        {
            <tr>
                <td width="35%" align="right">@item.Match.HomeTeam.Name</td>
                <td width="10%" align="center" nowrap>(@item.HomeTeamHalfTimeGoals - @item.AwayTeamHalfTimeGoals)<br /><strong>@item.HomeTeamFullTimeGoals - @item.AwayTeamFullTimeGoals</strong></td>
                <td width="35%">@item.Match.AwayTeam.Name</td>
                <td width="10%">@item.YellowCards</td>
                <td width="10%">@item.RedCards</td>
            </tr>
            <tr>
                <td colspan="5">&nbsp;</td>
            </tr>
        }
    </table>
    <p>&nbsp;</p>
    <hr />
    <p>&nbsp;</p>
    <table>
        <tr>
            <td nowrap>Teams going to the round of 16:</td>
            @if (Model.LongRunningPrediction != null) {
                <td>@Model.LongRunningPrediction.GetSecondStageSelectedTeamsNames</td>
            }
            else
            {
                <td>You have not yet selected any teams.</td>
            }
        </tr>
        <tr>
            <td nowrap>Teams going to the Quarter-final:</td>
            @if (Model.LongRunningPrediction != null)
            {
                <td>@Model.LongRunningPrediction.GetQaurterFinalSelectedTeamsNames</td>
            }
            else
            {
                <td>You have not yet selected any teams.</td>
            }
        </tr>
        <tr>
            <td nowrap>Teams going to the Semi-final:</td>
            @if (Model.LongRunningPrediction != null)
            {
                <td>@Model.LongRunningPrediction.GetSemiFinalSelectedTeamsNames</td>
            }
            else
            {
                <td>You have not yet selected any teams.</td>
            }
        </tr>
        <tr>
            <td nowrap>Teams playing the 3rd place match:</td>
            @if (Model.LongRunningPrediction != null)
            {
                <td>@Model.LongRunningPrediction.GetSmallFinalSelectedTeamsNames</td>
            }
            else
            {
                <td>You have not yet selected any teams.</td>
            }
        </tr>
        <tr>
            <td nowrap>Teams playing the final:</td>
            @if (Model.LongRunningPrediction != null)
            {
                <td>@Model.LongRunningPrediction.GetFinalSelectedTeamsNames</td>
            }
            else
            {
                <td>You have not yet selected any teams.</td>
            }
        </tr>
        <tr>
            <td nowrap>World cup winner:</td>
            @if (Model.LongRunningPrediction != null)
            {
                <td>@Model.LongRunningPrediction.WinnerTeam.Name</td>
            }
            else
            {
                <td>You have not yet selected any team.</td>
            }
        </tr>
    </table>
</body>
</html>
