@model string

@{
    ViewBag.Title = "Admin Rankings";
}

<div class="page-header">
    <h1>Update rankings<br />
    <small>Calculate current scores</small></h1>
</div>
<p>Use the buttons below calculate the current scores. Only matches which are marked as <i>finalized</i> will be affected.</p>
<hr />  
@Html.ActionLink("Update match rankings", "UpdateMatchRankings", null, new { @class = "btn btn-warning" })
@Html.ActionLink("Update long running rankings", "UpdateLongRunningRankings", null, new { @class = "btn btn-warning" })
<br/>
<div>@Model</div>
<hr />
<h3>Panic button</h3>
<p>Okay, we may have exaggerated a little: you can actually undo rankings for a match. Select a match below and reset the results for that particular match. The match status will be reset to 'visible for predictions'. However, you <strong>really</strong> cannot undo this operation.</p>

@using (Html.BeginForm("UndoRankingsForMatch", "AdminRankins", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.Label("Match", new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownList("matchId", new SelectList(ViewBag.Matches, "Id", "Match"), "Choose your match", new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Reset" class="btn btn-danger" />
        </div>
    </div>
}