<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/chart")
    @Scripts.Render("~/bundles/slider")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("World Cup 2014 predictions", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Predictions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Match Predictions", "Index", "Predictions")</li>
                            <li>@Html.ActionLink("Long Running Predictions", "LongRunningPredictions", "Predictions")</li>
                        </ul>
                    <li>@Html.ActionLink("Rankings", "Index", "Rankings")</li>
                    <li>@Html.ActionLink("Rules", "Rules", "Home")</li>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Administration <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Matches", "Index", "AdminMatches")</li>
                                    <li>@Html.ActionLink("Long Running results", "LongRunningResults", "AdminLongRunningResults")</li>
                                    <li>@Html.ActionLink("Rankings", "Index", "AdminRankins")</li>
                                    <li>@Html.ActionLink("Users", "Index", "AdminUsers")</li>
                                    <li>@Html.ActionLink("Parameters", "Parameters", "AdminInitialization")</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                        @Html.Partial("_LoginPartial")
</div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NIPO Software - UNICEF</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        toastr.options.positionClass = "toast-bottom-right";
        toastr.options.closeButton = true;

        function cookieExists(name) {
            var nameToFind = name + "=";
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                if (cookies[i].trim().indexOf(nameToFind) === 0) return true;
            }
            return false;
        }

        if (!cookieExists("_timeZoneOffset")) {
            var now = new Date();
            var timeZoneOffset = -now.getTimezoneOffset(); // in minutes
            now.setTime(now.getTime() + 10 * 24 * 60 * 60 * 1000); // keep it for 10 days
            document.cookie = "_timeZoneOffset=" + timeZoneOffset.toString()
                + ";expires=" + now.toGMTString() + ";path=/;" + document.cookie;

            // Uncomment the following line to force page refresh.  
            // window.location.reload();
        }

        $(function() {
            // Show the success message when saved
            var userSuccesfulySaved = '@TempData["UserSavedSuccessfully"]';
            if (userSuccesfulySaved !== "") {
                toastr.success(userSuccesfulySaved);
            }

            var modelIsValid = '@ViewData.ModelState.IsValid';
            if (modelIsValid === "False") {
                toastr.error("Warning! You have selected some invalid values.");
            }
        });
    </script>
</body>
</html>