@model WorldCup.Models.Predictions.LongRunningPredictionsInfoModel

@{
    ViewBag.Title = "Long running predictions info";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Your selection of teams</small>
    </h2>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the round of 16
    </div>
    <div class="col-md-6">
        @Model.Round16Teams
    </div>
    <div class="col-md-2">
        @Model.Round16TeamsPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the quarter final
    </div>
    <div class="col-md-6">
        @Model.QuarterFinalTeams
    </div>
    <div class="col-md-2">
        @Model.QuarterFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the semi final
    </div>
    <div class="col-md-6">
        @Model.SemiFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SemiFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the third place match
    </div>
    <div class="col-md-6">
        @Model.SmallFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SmallFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the final
    </div>
    <div class="col-md-6">
        @Model.FinalTeams
    </div>
    <div class="col-md-2">
        @Model.FinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Winner
    </div>
    <div class="col-md-6">
        @Model.WinnerTeam
    </div>
    <div class="col-md-2">
        @Model.WinnerPoints points
    </div>
</div>
<hr>
<h2>Did you know...?</h2>
<p>From now on, you cannot change your predictions for the knockout stage. Let's see what other people predicted. Did they agree with you that @Model.WinnerTeam will be the 2014 world cup winner?</p>
<h3></h3>
<p>This is the top 10 of teams advancing to the knockout stage:</p>
<div id="roundOf16Container" style="height:500px; max-width:800px; margin: 0 auto"></div>
<script>
    $(function () {

        var dataSource = [
        { stage: "Round of 16", team0: 85, team1: 80, team2: 79, team3: 75, team4: 70, team5: 69, team6: 66, team7: 65, team8: 63, team9: 62 },
        { stage: "Quarter-finals", team0: 83, team1: 77, team2: 79, team3: 71, team4: 51, team5: 55, team6: 55, team7: 35, team8: 40, team9: 32 },
        { stage: "Semi-finals", team0: 88, team1: 70, team2: 50, team3: 34, team4: 32, team5: 7, team6: 5, team7: 3, team8: 1, team9: 0 },
        { stage: "3rd place match", team0: 10, team1: 20, team2: 34, team3: 44, team4: 10, team5: 4, team6: 3, team7: 2, team8: 0, team9: 0 },
        { stage: "Final", team0: 95, team1: 80, team2: 79, team3: 75, team4: 70, team5: 69, team6: 66, team7: 65, team8: 63, team9: 62 },
        { stage: "Winner", team0: 52, team1: 22, team2: 20, team3: 8, team4: 3, team5: 0, team6: 2, team7: 2, team8: 1, team9: 0 }
        ];

        $("#chartContainer").dxChart({
            dataSource: dataSource,
            commonSeriesSettings: {
                argumentField: "stage",
                type: "stackedBar"
            },
            series: [
                { valueField: "team0", name: "Brazil" },
                { valueField: "team1", name: "Greece" },
                { valueField: "team2", name: "Argentina" },
                { valueField: "team3", name: "Spain" },
                { valueField: "team4", name: "Germany" },
                { valueField: "team5", name: "Algeria" },
                { valueField: "team6", name: "Portugal" },
                { valueField: "team7", name: "Belgium" },
                { valueField: "team8", name: "England" },
                { valueField: "team9", name: "Honduras" }
            ],
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: 'top'
            },
            title: "Overall predictions",
            tooltip: {
                enabled: true,
                customizeText: function () {
                    return this.seriesName + ": " + this.valueText + "%";
                }
            }
        });
    });
</script>
