@model WorldCup.Models.Predictions.LongRunningPredictionsInfoModel

@{
    ViewBag.Title = "Long running predictions info";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Your selection of teams</small>
    </h2>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the round of 16
    </div>
    <div class="col-md-6">
        @Model.Round16Teams
    </div>
    <div class="col-md-2">
        @Model.Round16TeamsPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the quarter final
    </div>
    <div class="col-md-6">
        @Model.QuarterFinalTeams
    </div>
    <div class="col-md-2">
        @Model.QuarterFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the semi final  
    </div>
    <div class="col-md-6">
        @Model.SemiFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SemiFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the third place match
    </div>
    <div class="col-md-6">
        @Model.SmallFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SmallFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the final
    </div>
    <div class="col-md-6">
        @Model.FinalTeams
    </div>
    <div class="col-md-2">
        @Model.FinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Winner
    </div>
    <div class="col-md-6">
        @Model.WinnerTeam
    </div>
    <div class="col-md-2">
        @Model.WinnerPoints points
    </div>
</div>
<hr>
<h2>Did you know...?</h2>
<p>From now on, you cannot change your predictions for the knockout stage. Let's see what other people predicted. Did they agree with you that @Model.WinnerTeam will be the 2014 world cup winner?</p>
<h3></h3>
<p>This is the top 10 of teams advancing to the knockout stage:</p>
<div id="roundOf16Container" style="height:500px; max-width:1100px; margin: 0 auto"></div>
<script>

    var series = [
        { valueField: "bra", name: "Brazil", color: "#428bca" },
        { valueField: "cro", name: "Croatia", color: "#5cb85c" },
        { valueField: "mex", name: "Mexico", color: "#5bc0de" },
        { valueField: "cmr", name: "Cameroon", color: "#f0ad4e" },
        { valueField: "esp", name: "Spain", color: "#428bca" },
        { valueField: "ned", name: "Netherlands", color: "#5cb85c" },
        { valueField: "chi", name: "Chile", color: "#5bc0de" },
        { valueField: "aus", name: "Australia", color: "#f0ad4e" },
        { valueField: "col", name: "Colombia", color: "#428bca" },
        { valueField: "gre", name: "Greece", color: "#5cb85c" },
        { valueField: "civ", name: "Cote d'Ivore", color: "#5bc0de" },
        { valueField: "jpn", name: "Japan", color: "#f0ad4e" },
        { valueField: "uru", name: "Uruguay", color: "#428bca" },
        { valueField: "crc", name: "Costa Rica", color: "#5cb85c" },
        { valueField: "eng", name: "England", color: "#5bc0de" },
        { valueField: "ita", name: "Italy", color: "#f0ad4e" },
        { valueField: "sui", name: "Switzerland", color: "#428bca" },
        { valueField: "ecu", name: "Ecuador", color: "#5cb85c" },
        { valueField: "fra", name: "France", color: "#5bc0de" },
        { valueField: "hon", name: "Honduras", color: "#f0ad4e" },
        { valueField: "arg", name: "Argentina", color: "#428bca" },
        { valueField: "bih", name: "Bosnia-Herzegovina", color: "#5cb85c" },
        { valueField: "irn", name: "Iran", color: "#5bc0de" },
        { valueField: "nga", name: "Nigeria", color: "#f0ad4e" },
        { valueField: "ger", name: "Germany", color: "#428bca" },
        { valueField: "por", name: "Portugal", color: "#5cb85c" },
        { valueField: "gha", name: "Ghana", color: "#5bc0de" },
        { valueField: "usa", name: "United States", color: "#f0ad4e" },
        { valueField: "bel", name: "Belgium", color: "#428bca" },
        { valueField: "alg", name: "Algeria", color: "#5cb85c" },
        { valueField: "rus", name: "Russia", color: "#5bc0de" },
        { valueField: "kor", name: "South Korea", color: "#f0ad4e" }
    ];

    window.setInterval(function () {
        updateStatisticsChart();
    }, 8000);

    var counter = 0;
    // The variable that is assigned through Ajax request and holds all the data from the server
    var sourceFromServer;

    var updateStatisticsChart = function() {
        if (counter > 8) {
            counter = 0;
        }
        var index = (counter % 8) * 4;
        var seriesToDisplay = series.slice(index, index + 4);
        counter++;

        var data = {
            source: sourceFromServer,
            series: seriesToDisplay
        };
        updateChart(data);
    };

    var updateChart = function (data) {
        $("#roundOf16Container").dxChart({
            dataSource: data.source,
            commonSeriesSettings: {
                argumentField: "stage",
                type: "bar"
                //label: {
                //    visible: true,
                //    format: "fixedPoint",
                //    precision: 0
                //}
            },
            series: data.series,
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: 'top'
            },
            title: "Overall predictions",
            tooltip: {
                enabled: true,
                customizeText: function () {
                    return this.seriesName + ": " + this.valueText + "%";
                }
            },
            valueAxis: {
                min: 0,
                max: 100,
                valueMarginsEnabled: false
            },
        });
    }

    $(function () {
        $.ajax({
            url: '/Predictions/LongRunningStatistics',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                sourceFromServer = data;
                updateStatisticsChart();
            },
            error: function (data) {
                toastr.error(data.statusText);
            }
        });
    });
</script>