@using WorldCup.Extensions
@model WorldCup.Common.Entities.LongRunningPrediction

@{
    ViewBag.Title = "Long running predictions";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Select the teams playing in the knockout stage</small>
    </h2>
</div>

<p>Before the championship starts, you will need to predict which teams will play the knockout stage. As soon as the tournament begins, these values will not be editable anymore. The selections are free for every round, i.e. they are not limited to the selection you've made in the round before. For more information on the long running prediction, check the @Html.ActionLink("rules", "Rules", "Home").</p>
<p>There are <span class="label label-danger" id="days-remaining"></span> days remaining.</p>
<hr>
@using (Html.BeginForm("LongRunningPredictions", "Predictions", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.SecondStageTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.SecondStageTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SecondStageTeamsIds), "Select sixteen teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SecondStageTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.QuarterFinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.QuarterFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.QuarterFinalTeamsIds), "Select eight teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.QuarterFinalTeamsIds)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SemiFinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.SemiFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SemiFinalTeamsIds), "Select four teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SemiFinalTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SmallFinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.SmallFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SmallFinalTeamsIds), "Select two teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SmallFinalTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.FinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.FinalTeamsIds), "Select two teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.FinalTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WinnerTeamId, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @{
    var htmlAttributes = new Dictionary<string, object>
                {
                    {"class", "form-control chosen-select"}
                };
    if (!ViewBag.IsLongRunningPredictionsEnabled)
    {
        htmlAttributes.Add("disabled", "disabled");
    }
            }
            @Html.DropDownListFor(m => m.WinnerTeamId, new SelectList(ViewBag.Teams, "Id", "Name"), "Please select a team", htmlAttributes)
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SecondStageTeamsIds)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <button type="submit" class="btn btn-primary" @(!(bool)ViewBag.Islongrunningpredictionsenabled ? "disabled=disabled" : "")>Save</button>
        </div>
    </div>
}
<script>
    $(".chosen-select").chosen();

    $(function () {

        /* Show number of days remaining */
        var now = moment();
        var kickOff = moment([2014, 5, 13]),
            daysRemaining = kickOff.diff(now, 'days');

        $("#days-remaining").text(daysRemaining);

        /* Populate labels behind dropdowns */
        $("select").each(function (index, element) {

            var selectedItems = $(":selected", this).length,
                targetValue = $(this).data("val-maxlength-max");

            if (selectedItems == targetValue) {
                var newClass = "label-success";
            }
            if (selectedItems > targetValue) {
                var newClass = "label-danger";
            }
            if (selectedItems < targetValue) {
                var newClass = "label-default";
            }

            $(this).closest("div").find(".label").removeClass("label-default label-success label-danger").addClass(newClass).text(selectedItems + " of " + targetValue + " selected");

        });

        $("select").on("change", function () {

            var selectedItems = $(":selected", this).length,
                targetValue = $(this).data("val-maxlength-max");

            if (selectedItems == targetValue) {
                var newClass = "label-success";
            }
            if (selectedItems > targetValue) {
                var newClass = "label-danger";
            }
            if (selectedItems < targetValue) {
                var newClass = "label-default";
            }

            $(this).closest("div").find(".label").removeClass("label-default label-success label-danger").addClass(newClass).text(selectedItems + " of " + targetValue + " selected");

        });

    });

</script>
<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Your selection of teams</small>
    </h2>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the round of 16
    </div>
    <div class="col-md-6">
        ARG BEL BRA CRC ENG FRA GER GRE ITA JPN NED SPA SUI POR USA URU
    </div>
    <div class="col-md-2">
        20 points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the quarter final
    </div>
    <div class="col-md-6">
        ARG BRA CRC FRA GER NED POR USA
    </div>
    <div class="col-md-2">
        40 points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the semi final
    </div>
    <div class="col-md-6">
        ARG BRA POR USA
    </div>
    <div class="col-md-2">

    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the third place match
    </div>
    <div class="col-md-6">
        ARG USA
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the final
    </div>
    <div class="col-md-6">
        BRA POR
    </div>
    <div class="col-md-2">
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Winner
    </div>
    <div class="col-md-6">
        BRA
    </div>
    <div class="col-md-2">
    </div>
</div>
