@model WorldCup.Models.Predictions.LongRunningPredictionsInfoModel

@{
    ViewBag.Title = "Long running predictions info";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Your selection of teams</small>
    </h2>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the round of 16
    </div>
    <div class="col-md-6">
        @Model.Round16Teams
    </div>
    <div class="col-md-2">
        @Model.Round16TeamsPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the quarter final
    </div>
    <div class="col-md-6">
        @Model.QuarterFinalTeams
    </div>
    <div class="col-md-2">
        @Model.QuarterFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the semi final  
    </div>
    <div class="col-md-6">
        @Model.SemiFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SemiFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the third place match
    </div>
    <div class="col-md-6">
        @Model.SmallFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SmallFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the final
    </div>
    <div class="col-md-6">
        @Model.FinalTeams
    </div>
    <div class="col-md-2">
        @Model.FinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Winner
    </div>
    <div class="col-md-6">
        @Model.WinnerTeam
    </div>
    <div class="col-md-2">
        @Model.WinnerPoints points
    </div>
</div>
<hr>
<h2>Did you know...?</h2>
<p>From now on, you cannot change your predictions for the knockout stage. Let's see what other people predicted. Did they agree with you that @Model.WinnerTeam will be the 2014 world cup winner?</p>
<h3></h3>
<p>This is the top 10 of teams advancing to the knockout stage:</p>
<div id="roundOf16Container" style="height:500px; max-width:1100px; margin: 0 auto"></div>
<script>

    var dataSource1 = [
       { stage: "Round of 16", bra: 85, cro: 80, mex: 79, cmr: 75, esp: 60, ned: 50, chi: 40, aus: 30 },
       { stage: "Quarter-finals", bra: 83, cro: 77, mex: 79, cmr: 71, esp: 60, ned: 50, chi: 40, aus: 30 },
       { stage: "Semi-finals", bra: 88, cro: 70, mex: 50, cmr: 34, esp: 60, ned: 50, chi: 40, aus: 30 },
       { stage: "3rd place match", bra: 10, cro: 20, mex: 34, esp: 60, ned: 50, chi: 40, aus: 30 },
       { stage: "Final", bra: 95, cro: 80, mex: 79, cmr: 75, esp: 60, ned: 50, chi: 40, aus: 30 },
       { stage: "Winner", bra: 52, cro: 22, mex: 20, cmr: 8, esp: 60, ned: 50, chi: 40, aus: 30 }
    ];

    var series = [
        { valueField: "bra", name: "Brazil" },
        { valueField: "cro", name: "Croatia" },
        { valueField: "mex", name: "Mexico" },
        { valueField: "cmr", name: "Cameroon" },
        { valueField: "esp", name: "Spain" },
        { valueField: "ned", name: "Netherlands" },
        { valueField: "chi", name: "Chile" },
        { valueField: "aus", name: "Australia" },
        { valueField: "col", name: "Colombia" },
        { valueField: "gre", name: "Greece" },
        { valueField: "civ", name: "Cote d'Ivore" },
        { valueField: "jpn", name: "Japan" },
        { valueField: "uru", name: "Uruguay" },
        { valueField: "crc", name: "Costa Rica" },
        { valueField: "eng", name: "England" },
        { valueField: "ita", name: "Italy" },
        { valueField: "sui", name: "Switzerland" },
        { valueField: "ecu", name: "Ecuador" },
        { valueField: "fra", name: "France" },
        { valueField: "hon", name: "Honduras" },
        { valueField: "arg", name: "Argentina" },
        { valueField: "bih", name: "Bosnia-Herzegovina" },
        { valueField: "irn", name: "Iran" },
        { valueField: "nga", name: "Nigeria" },
        { valueField: "ger", name: "Germany" },
        { valueField: "por", name: "Portugal" },
        { valueField: "gha", name: "Ghana" },
        { valueField: "usa", name: "United States" },
        { valueField: "bel", name: "Belgium" },
        { valueField: "alg", name: "Algeria" },
        { valueField: "rus", name: "Russia" },
        { valueField: "kor", name: "South Korea" }
    ];

    window.setInterval(function () {
        updateStatisticsChart();
    }, 5000);

    var counter = 0;
    // The variable that is assigned through Ajax request and holds all the data from the server
    var sourceFromServer;

    var updateStatisticsChart = function() {
        if (counter > 8) {
            counter = 0;
        }
        var index = (counter % 8) * 4;
        var seriesToDisplay = series.slice(index, index + 4);
        counter++;

        var data = {
            source: dataSource1,
            series: seriesToDisplay
        };
        updateChart(data);
    };

    var updateChart = function (data) {
        $("#roundOf16Container").dxChart({
            dataSource: data.source,
            commonSeriesSettings: {
                argumentField: "stage",
                type: "bar"
                //label: {
                //    visible: true,
                //    format: "fixedPoint",
                //    precision: 0
                //}
            },
            series: data.series,
            legend: {
                verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: 'top'
            },
            title: "Overall predictions",
            tooltip: {
                enabled: true,
                customizeText: function () {
                    return this.seriesName + ": " + this.valueText + "%";
                }
            }
        });
    }

    $(function () {
        $.ajax({
            url: '/Predictions/LongRunningStatistics',
            type: 'GET',
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                sourceFromServer = data;
                updateStatisticsChart();
            },
            error: function (data) {
                toastr.error(data.statusText);
            }
        });
    });
</script>