@model WorldCup.Models.Predictions.LongRunningPredictionsInfoModel

@{
    ViewBag.Title = "Long running predictions info";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Your selection of teams</small>
    </h2>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the round of 16
    </div>
    <div class="col-md-6">
        @Model.Round16Teams
    </div>
    <div class="col-md-2">
        @Model.Round16TeamsPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the quarter final
    </div>
    <div class="col-md-6">
        @Model.QuarterFinalTeams
    </div>
    <div class="col-md-2">
        @Model.QuarterFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the semi final
    </div>
    <div class="col-md-6">
        @Model.SemiFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SemiFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the third place match
    </div>
    <div class="col-md-6">
        @Model.SmallFinalTeams
    </div>
    <div class="col-md-2">
        @Model.SmallFinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Teams advancing to the final
    </div>
    <div class="col-md-6">
        @Model.FinalTeams
    </div>
    <div class="col-md-2">
        @Model.FinalPoints points
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-right">
        Winner
    </div>
    <div class="col-md-6">
        @Model.WinnerTeam
    </div>
    <div class="col-md-2">
        @Model.WinnerPoints points
    </div>
</div>