@using WorldCup.Extensions
@model WorldCup.Common.Entities.LongRunningPrediction

@{
    ViewBag.Title = "Long running predictions";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Select the teams advancing to the next round(s)</small>
    </h2>
</div>

@using (Html.BeginForm("LongRunningPredictions", "Predictions", FormMethod.Post, new {role = "form"}))
{
    <div class='col-md-6'>
        <div class="form-group">
            @Html.LabelFor(m => m.SecondStageTeamsIds)
            @Html.BootstrapListBoxFor(m => m.SecondStageTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SecondStageTeamsIds), "Select sixteen teams")
            @Html.ValidationMessageFor(m => m.SecondStageTeamsIds)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.QuarterFinalTeamsIds)
            @Html.BootstrapListBoxFor(m => m.QuarterFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.QuarterFinalTeamsIds), "Select eight teams")
            @Html.ValidationMessageFor(m => m.QuarterFinalTeamsIds)
        </div>
    </div>
    <div class='col-md-6'>
        <div class="form-group">
            @Html.LabelFor(m => m.SemiFinalTeamsIds)
            @Html.BootstrapListBoxFor(m => m.SemiFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SemiFinalTeamsIds), "Select four teams")
            @Html.ValidationMessageFor(m => m.SemiFinalTeamsIds)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SmallFinalTeamsIds)
            @Html.BootstrapListBoxFor(m => m.SmallFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SmallFinalTeamsIds), "Select two teams")
            @Html.ValidationMessageFor(m => m.SmallFinalTeamsIds)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FinalTeamsIds)
            @Html.BootstrapListBoxFor(m => m.FinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.FinalTeamsIds), "Select two teams")
            @Html.ValidationMessageFor(m => m.FinalTeamsIds)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WinnerTeamId)
            @{
                var htmlAttributes = new Dictionary<string, object>
                {
                    {"class", "form-control"}
                };
                if (!ViewBag.IsLongRunningPredictionsEnabled)
                {
                    htmlAttributes.Add("disabled", "disabled");
                }
            }
            @Html.DropDownListFor(m => m.WinnerTeamId, new SelectList(ViewBag.Teams, "Id", "Name"), htmlAttributes)
        </div>
    </div>

    <button type="submit" class="btn btn-primary" @(!(bool)ViewBag.Islongrunningpredictionsenabled ? "disabled=disabled" :"")>Save</button>
}

<script>$(".chosen-select").chosen(); </script>