@using WorldCup.Extensions
@model WorldCup.Common.Entities.LongRunningPrediction

@{
    ViewBag.Title = "Long running predictions";
}

<div class="page-header">
    <h2>
        Long running predictions<br />
        <small>Select the teams playing in the knockout stage</small>
    </h2>
</div>

<p>Before the championship starts, you will need to predict which teams will play the knockout stage. As soon as the tournament begins, these values will not be editable anymore. The selections are free for every round, i.e. they are not limited to the selection you've made in the round before. For more information on the long running prediction, check the @Html.ActionLink("rules", "Rules", "Home").</p>
<p>There are <span class="label label-danger" id="days-remaining"></span> days remaining.</p>
<hr>
@using (Html.BeginForm("LongRunningPredictions", "Predictions", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{

    <div class="form-group">
        @Html.LabelFor(m => m.SecondStageTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.SecondStageTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SecondStageTeamsIds), "Select sixteen teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SecondStageTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.QuarterFinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.QuarterFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.QuarterFinalTeamsIds), "Select eight teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.QuarterFinalTeamsIds)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SemiFinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.SemiFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SemiFinalTeamsIds), "Select four teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SemiFinalTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SmallFinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.SmallFinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.SmallFinalTeamsIds), "Select two teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SmallFinalTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FinalTeamsIds, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.BootstrapListBoxFor(m => m.FinalTeamsIds, new MultiSelectList(ViewBag.Teams, "Id", "Name", Model.FinalTeamsIds), "Select two teams")
            &nbsp;<span class="label"></span>
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.FinalTeamsIds)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.WinnerTeamId, new { @class = "col-sm-5 control-label" })
        <div class="col-sm-5">
            @Html.DropDownListFor(m => m.WinnerTeamId, new SelectList(ViewBag.Teams, "Id", "Name"), "Please select a team", new { @class = "form-control chosen-select" })
        </div>
        <div class="col-md-2">
            @Html.ValidationMessageFor(m => m.SecondStageTeamsIds)
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-7">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}
<hr />
<p>This is an overview of all the groups to help you predict the teams advancing to the knockout stage.</p>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group A</strong></li>
            <li class="list-group-item">Brazil</li>
            <li class="list-group-item">Croatia</li>
            <li class="list-group-item">Mexico</li>
            <li class="list-group-item">Cameroon</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group B</strong></li>
            <li class="list-group-item">Switzerland</li>
            <li class="list-group-item">Ecuador</li>
            <li class="list-group-item">France</li>
            <li class="list-group-item">Honduras</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group C</strong></li>
            <li class="list-group-item">Spain</li>
            <li class="list-group-item">Netherlands</li>
            <li class="list-group-item">Chile</li>
            <li class="list-group-item">Australia</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group D</strong></li>
            <li class="list-group-item">Argentina</li>
            <li class="list-group-item">Bosnia and Herzegovina</li>
            <li class="list-group-item">Iran</li>
            <li class="list-group-item">Nigeria</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group E</strong></li>
            <li class="list-group-item">Colombia</li>
            <li class="list-group-item">Greece</li>
            <li class="list-group-item">Cote d'Ivore</li>
            <li class="list-group-item">Japan</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group F</strong></li>
            <li class="list-group-item">Germany</li>
            <li class="list-group-item">Portugal</li>
            <li class="list-group-item">Ghana</li>
            <li class="list-group-item">USA</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group G</strong></li>
            <li class="list-group-item">Uruguay</li>
            <li class="list-group-item">Costa Rica</li>
            <li class="list-group-item">England</li>
            <li class="list-group-item">Italy</li>
        </ul>
    </div>
    <div class="col-xs-6 col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-info"><strong>Group H</strong></li>
            <li class="list-group-item">Belgium</li>
            <li class="list-group-item">Algeria</li>
            <li class="list-group-item">Russia</li>
            <li class="list-group-item">South Korea</li>
        </ul>
    </div>
</div>
<script>
    $(".chosen-select").chosen();

    $(function () {

        /* Show number of days remaining */
        var now = moment();
        var kickOff = moment([2014, 5, 13]),
            daysRemaining = kickOff.diff(now, 'days');

        $("#days-remaining").text(daysRemaining);

        /* Populate labels behind dropdowns */
        $("select").each(function (index, element) {

            var selectedItems = $(":selected", this).length,
                targetValue = $(this).data("val-maxlength-max");

            var newClass = "";
            if (selectedItems == targetValue) {
                newClass = "label-success";
            }
            if (selectedItems > targetValue) {
                newClass = "label-danger";
            }
            if (selectedItems < targetValue) {
                newClass = "label-default";
            }

            $(this).closest("div").find(".label").removeClass("label-default label-success label-danger").addClass(newClass).text(selectedItems + " of " + targetValue + " selected");

        });

        $("select").on("change", function () {

            var selectedItems = $(":selected", this).length,
                targetValue = $(this).data("val-maxlength-max");

            var newClass = "";
            if (selectedItems == targetValue) {
                newClass = "label-success";
            }
            if (selectedItems > targetValue) {
                newClass = "label-danger";
            }
            if (selectedItems < targetValue) {
                newClass = "label-default";
            }

            $(this).closest("div").find(".label").removeClass("label-default label-success label-danger").addClass(newClass).text(selectedItems + " of " + targetValue + " selected");

        });

    });

</script>