@using WorldCup.Extensions
@model WorldCup.Common.Entities.MatchPrediction

@{
    ViewBag.Title = string.Format("{0} vs {1} predictions", Model.Match.HomeTeam.Name, Model.Match.AwayTeam.Name);
}

<h2>Match prediction</h2>

<div class="row">
    <div class="col-md-6">
        <p><strong>@Html.Partial("_FlaggedTeam", new[] { Model.Match.HomeTeam.Name, Model.Match.HomeTeam.Code })</strong> vs <strong>@Html.Partial("_FlaggedTeam", new[] { Model.Match.AwayTeam.Name, Model.Match.AwayTeam.Code })</strong></p>
    </div>
    <div class="col-md-6">
        <p class="text-right">
            @Model.Match.Date.Add((TimeSpan)ViewBag.TimeZoneOffset).ToString("dd/MM/yyyy HH:mm")<br />
            @Html.LabelFor(m => m.Match.Stage): @Model.Match.Stage
        </p>
    </div>
</div>

<hr class="divider" />

@using(Html.BeginForm("MatchPrediction", "Predictions", FormMethod.Post, new {role = "form"}))
{
    @Html.HiddenFor(m => m.MatchPredictionId)
    @Html.HiddenFor(m => m.MatchId)

    <div class="row">

        <div class='col-md-6'>
            <div class="form-group">
                @Html.LabelFor(m => m.HomeTeamHalfTimeGoals, string.Format("{0} half time goals", Model.Match.HomeTeam != null ? Model.Match.HomeTeam.Name : ""))
                @Html.BootstrapEditorFor(m => m.HomeTeamHalfTimeGoals, (bool) ViewBag.IsMatchPredictionsEnabled)
                @Html.ValidationMessageFor(m => m.HomeTeamHalfTimeGoals)
            </div>
        </div>
        <div class='col-md-6'>
            <div class="form-group">
                @Html.LabelFor(m => m.AwayTeamHalfTimeGoals, string.Format("{0} half time goals", Model.Match.AwayTeam != null ? Model.Match.AwayTeam.Name : ""))
                @Html.BootstrapEditorFor(m => m.AwayTeamHalfTimeGoals, (bool) ViewBag.IsMatchPredictionsEnabled)
                @Html.ValidationMessageFor(m => m.AwayTeamHalfTimeGoals)
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-6'>
            <div class="form-group">
                @Html.LabelFor(m => m.HomeTeamFullTimeGoals, string.Format("{0} full time goals", Model.Match.HomeTeam != null ? Model.Match.HomeTeam.Name : ""))
                @Html.BootstrapEditorFor(m => m.HomeTeamFullTimeGoals, (bool) ViewBag.IsMatchPredictionsEnabled)
                @Html.ValidationMessageFor(m => m.HomeTeamFullTimeGoals)
            </div>
        </div>
        <div class='col-md-6'>
            <div class="form-group">
                @Html.LabelFor(m => m.AwayTeamFullTimeGoals, string.Format("{0} full time goals", Model.Match.AwayTeam != null ? Model.Match.AwayTeam.Name : ""))
                @Html.BootstrapEditorFor(m => m.AwayTeamFullTimeGoals, (bool) ViewBag.IsMatchPredictionsEnabled)
                @Html.ValidationMessageFor(m => m.AwayTeamFullTimeGoals)
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-12 center-block'>
            <div id="result-buttons" class="form-group">
                @Html.LabelFor(m => m.Result, "Winner*")
                @{
                    var htmlAttributes = new Dictionary<string, object>
                    {
                        {"class", "form-control"}
                    };
                    if(!ViewBag.IsMatchPredictionsEnabled)
                    {
                        htmlAttributes.Add("disabled", "disabled");
                    }
                }
                @Html.DropDownListFor(m => m.Result, Model.Result.ToSelectList(Model.Match), htmlAttributes)
            </div>

        </div>

    </div>

    <hr class="divider" />

    <div class="row">
        <div class='col-md-6'>
            <div class="form-group">
                @Html.LabelFor(m => m.YellowCards, "Yellow cards*")
                @Html.BootstrapEditorFor(m => m.YellowCards, (bool) ViewBag.IsMatchPredictionsEnabled)
                @Html.ValidationMessageFor(m => m.YellowCards)
            </div>
        </div>
        <div class='col-md-6'>
            <div class="form-group">
                @Html.LabelFor(m => m.RedCards, "Red cards*")
                @Html.BootstrapEditorFor(m => m.RedCards, (bool) ViewBag.IsMatchPredictionsEnabled)
                @Html.ValidationMessageFor(m => m.RedCards)
            </div>
        </div>
    </div>

    <hr class="divider" />

    <div class="row">
        <div class='col-md-6'>
            <div class="form-group">
                <span class="help-block">* = after extra time or penalties</span>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success " @(!(bool) ViewBag.IsMatchPredictionsEnabled ? "disabled=disabled" : "")>Save</button>
}
&nbsp;
<div class="btn-group btn-group-justified">
    @Html.ActionLink("Previous match", "MatchPrediction", "Predictions", new { id = ViewBag.PreviousMatchId }, new { @class = "btn btn-info btn-group" })
    @Html.ActionLink("Back to list", "Index", "Predictions", new { @class = "btn btn-info btn-group" })
    @Html.ActionLink("Next match", "MatchPrediction", "Predictions", new { id = ViewBag.NextMatchId }, new { @class = "btn btn-info btn-group" })
</div>

<script type="text/javascript">

    $(function () {

        // Temporary solution to replace the dropdown with a button bar, to be removed when normal radio buttons are in place or a better solution.

        var result = $("#Result");

        if (result) {
            var buttonGroup = $('<div class="btn-group btn-group-justified" data-toggle="buttons"></div>');

            $.map($("option", result), function (element) {
                var button = $('<label class="btn btn-default"><input type="radio" name="' + result.attr("name") + '" value="' + element.value + '">' + element.text + '</label>').appendTo(buttonGroup);

                if (element.selected) {
                    button.addClass("active");
                    $("input", button).prop("checked", true);
                }
            });

            buttonGroup.appendTo("#result-buttons");
            result.remove();
        }

        // Show the success message when saved
        var userSuccesfulySaved = '@TempData["UserMatchPredictionSuccessful"]';
        if (userSuccesfulySaved !== "") {
            toastr.success(userSuccesfulySaved);
        }
    });
</script>