@using WorldCup.Common.Entities
@using WorldCup.Extensions
@model WorldCup.Common.Entities.RaisedMoney

@{
    ViewBag.Title = "Money raised";
    var money = (List<RaisedMoney>)ViewBag.MoneyPerDate;
}
<div class="page-header">
    <h1>Money raised<br />
    <small>Update current amount</small>
    </h1>
</div>

<p>Use this page to manage the currently raised money. You need to enter the amount of money that you've raised in total for the specified date. You may update this multiple times per day. For your convenience and to monitor progress, there is a table on the bottom of this page. Made a mistake yesterday? No problem. You are able to edit all dates.</p>
<hr />
@using (Html.BeginForm("RaisedMoney", "AdminGeneral", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Date, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-3">
            @Html.EditorFor(m => m.Date, "_DateTime", new { @class = "form-control" })
        </div>
        <div class="col-sm-6"><span class="label label-danger">Only the date in UTC is required.</span></div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Amount, new { @class = "col-sm-3 control-label" })
        <div class="col-sm-3">
            @Html.BootstrapEditorFor(m => m.Amount)
        </div>
        <div class="col-sm-6"></div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}
<hr />  
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var entry in money)
        {
            <tr>
                <td nowrap>
                    <span class="date-localize">@entry.Date</span></td>
                <td width="100%">
                    @entry.Amount
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $("#datetimepicker").data("DateTimePicker").setMinDate(new Date(2014, 5, 1));

        $.map($(".date-localize"), function (element) {
            var localDate = moment.utc(element.textContent, "M/D/YYYY h:mm:ss A").local().format("D MMMM YYYY");
            element.textContent = localDate;
        });

    });
</script>