@using WorldCup.Extensions
@model WorldCup.Common.Entities.RaisedMoney

@{
    ViewBag.Title = "Raised Money";
}

<h2>Raised Money</h2>

@using (Html.BeginForm("RaisedMoney", "AdminGeneral", FormMethod.Post, new { role = "form" }))
{
    <div class="row">
        <div class='col-md-6'>
            <div class='col-md-7'>
                <div class="form-group">
                    @Html.LabelFor(m => m.Date)
                    @Html.EditorFor(m => m.Date, "_DateTime")
                    <span class="label label-danger">Fill only the date in UTC</span>
                    @Html.ValidationMessageFor(m => m.Date)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Amount)
                    @Html.BootstrapEditorFor(m => m.Amount)
                    @Html.ValidationMessageFor(m => m.Amount)
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

<script>
    $(function () {
        $("#datetimepicker").data("DateTimePicker").setMinDate(new Date(2014, 4, 15));
    });
</script>